{% extends "dil/base.html" %}

{% block title %} {{ company }} profile {% endblock %}

{% block content %} 
<div class="container">
  <div class="row">
    <div class="span4">
      <h2> Buisness Card {% if user == company.base %} <strong><a href="#"> Edit </a></strong> {% endif %} </h2>
      <b> Username: </b> {{ company }} </br>
      <b> Company Name: </b> {{ company.c_name }} </br>
      <b> Address: </b> {{ company.c_address }} </br>
      <b> Telephone: </b> {{ company.c_telephone }} </br>

      <h2> Services {% if user == company.base %} <a id="add_s" onclick="load_form_js();">Add</a> {% endif %} </h2>

      {% if user == company.base %}
      <div id="add_s" class="well" style="display:none">
        <form action="" method="post" id="add_form" accept-charset="utf-8">{% csrf_token %}
          <legend> Add service </legend>
	  {{ form.as_p }}
	  <p><input type="button" value="Send" onclick="send_add();"></p>
        </form>
      </div>
      {% endif %}
      <div class="control-group">
        <div class="controls">
        {% for s in services %}
          <div class="well" id="id_{{s}}">
            <label class="radio">
            <input type="radio" name="ServicesRadios" id="{{ s }}_radio" value="{{ s }}" uncheked>
            <p>Name: <input type="text" value="{{ s }}" id="title" onclick="toggle_editor();" style="border: 0px"></p>
            <p><span class="label label-inverse">Duration:</span> {{ s.s_duration }} </p>
            <p><span class="label label-inverse">Prize:</span> {{ s.s_price }} </p>
            <a onclick="remove_service_js('{{s}}');"> remove </a>
            </label>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    
    <div class="span8">
      <h2> Calendar: </h2>
      <div class="btn-group">
        <button class="btn" onclick="change_week('-')" id="prev_btn">Previous</button>
        <button class="btn" onclick="change_week('+')" id="next_btn">Next</button>
      </div>
      <table class="table">
        <thead>
          <tr>
           <th> Monday </br><span class="label" id="monday" > {{ week_days.0 }} </span></th>
           <th> Tuesday </br><span class="label" id="tuesday"> {{ week_days.1 }} </span></th>
           <th> Wednesday </br><span class="label" id="wednesday"> {{ week_days.2 }} </span></th>
           <th> Thursday </br><span class="label" id="thursday"> {{ week_days.3 }} </span></th>
           <th> Friday </br><span class="label" id="friday"> {{ week_days.4 }} </span></th>
           <th> Saturday </br><span class="label" id="saturday"> {{ week_days.5 }} </span></th>
           <th> Sunday </br><span class="label" id="sunday"> {{ week_days.6 }} </span></th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div> <!-- span8 -->
  </div> <!-- row -- >
</div> <!-- container -->
    <script type="text/javascript" charset="utf-8">
      function change_week(sign){
        if (sign == '-') {
          Dajaxice.dil.change_week_cb(Dajax.process,{ 'date' : $('span.label#monday').text(), 'sign' : sign });
        }
        if (sign == '+') {
          Dajaxice.dil.change_week_cb(Dajax.process,{ 'date' : $('span.label#sunday').text(), 'sign' : sign }); 
        }
      }
      function send_add(){
        data = $('#add_form').serializeObject(true);
        Dajaxice.dil.add_service(Dajax.process, {'form':data});
      }
      function load_form_js(){
        $('div#add_s').slideToggle("slow", function(){
          if ($('a#add_s').text() == "Add") {
            $('a#add_s').html("Hide");
          }
          else {
            $('a#add_s').html("Add");
          }        
        });
      }
      function remove_service_js(service){
        Dajaxice.dil.remove_service(Dajax.process, {'service':service});
      }
      
function toggle_editor(){
	if(!$('title').hasClassName('editing')){
		$('title').addClassName('editing');
		$('title').select();
		$('tools').show();
	}
}

function cancel_edit(){
	$('tools').hide();
	$('title').removeClassName('editing');
	$('title').blur();
}

function save(){
  new_title = $('title').value;
  $('title').value = "saving...";
  Dajaxice.examples.flickr_save(Dajax.process,{'new_title':new_title});

}
    </script>

{% endblock %}
